@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme (Default) */
:root {
  --color-background: #ffffff;
  --color-surface: #f4f4f5;
  --color-border: #e4e4e7;
  --color-text-primary: #000000;
  --color-text-secondary: #71717a;
  --color-text-tertiary: #a1a1aa;
}

.theme-dark {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-border: #27272a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-tertiary: #71717a;
}

/* Pitch Black (OLED) Theme */
.theme-pitch-black {
  --color-background: #000000;
  --color-surface: #09090b;
  --color-border: #18181b;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-tertiary: #71717a;
}